<div class="col-md-12" style=" margin-bottom: 20px;">
<mdb-carousel [animation]="'slide'" style="height: 800px; padding: -20px 0 0 0;">
    <mdb-carousel-item>
      <div class="row">
          <img class="d-block w-100" src="/assets/images/banner-1.jpg" alt="First slide">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="margin: -145px 0 0 40px;">
              <button mdbBtn type="button" color="elegant" mdbWavesEffect routerLink="/login">Login Now</button>
              </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="row">
            <img class="d-block w-100" src="/assets/images/banner-2.jpg" alt="First slide">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="margin: -145px 0 0 40px;">
              <button mdbBtn type="button" color="elegant" mdbWavesEffect routerLink="/login">Login Now</button>
              </div>
        </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <div class="row">
            <img class="d-block w-100" src="/assets/images/banner-3.jpg" alt="First slide">
            <div class="col-md-5"></div>
            <div class="col-md-4" style="margin: -145px 0 0 40px;">
              <button mdbBtn type="button" color="elegant" mdbWavesEffect routerLink="/login">Login Now</button>
              </div>
        </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <hr/>
  <app-card-view style="position: relative;"></app-card-view>
  </div>