<a routerLink="/viewjobs">{{ 'CANDJOBDETAIL.CJD1' | translate }}</a>
<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ 'CANDJOBDETAIL.CJD2' | translate }}</h5>
                <p>{{ 'CANDJOBDETAIL.CJD3' | translate }}</p>
                <P>{{ 'CANDJOBDETAIL.CJD4' | translate }}</P>
                <p>{{ 'CANDJOBDETAIL.CJD5' | translate }}</p>
                <p>{{ 'CANDJOBDETAIL.CJD6' | translate }}</p>
                <P>{{ 'CANDJOBDETAIL.CJD7' | translate }}</P>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">{{ 'CANDJOBDETAIL.CJDM' | translate }}</button>
                
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ 'CANDJOBDETAIL.CJD8' | translate }}</h5>
                <p>{{ 'CANDJOBDETAIL.CJD9' | translate }} </p>
                <P>{{ 'CANDJOBDETAIL.CJDA' | translate }}</P>
                <p>{{ 'CANDJOBDETAIL.CJDB' | translate }}</p>
                <p>{{ 'CANDJOBDETAIL.CJDC' | translate }}</p>
                <P>{{ 'CANDJOBDETAIL.CJDD' | translate }}</P>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">{{ 'CANDJOBDETAIL.CJDE' | translate }}</button>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">{{ 'CANDJOBDETAIL.CJDF' | translate }}</h5>
                <p>{{ 'CANDJOBDETAIL.CJDG' | translate }}</p>
                <P>{{ 'CANDJOBDETAIL.CJDH' | translate }}</P>
                <p>{{ 'CANDJOBDETAIL.CJDI' | translate }}</p>
                <p>{{ 'CANDJOBDETAIL.CJDJ' | translate }}</p>
                <P>{{ 'CANDJOBDETAIL.CJDK' | translate }}Experience Needed: 0 years</P>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onApplyNowHandler()">{{ 'CANDJOBDETAIL.CJDL' | translate }}Apply Now</button>
            </div>
        </div>
    </div>
    </div>