<span style="float: left; margin-left:-180px;">
    <button class="btn btn-dark" routerLink="/landing"><<{{ 'CANDPROFILE.CP1' | translate }}</button>
</span>
<div class="container">
    <div class="row">
        <div class=" card col-md-12" id="formdiv" style="margin-left: -150px; margin-top: 40px;">
            <h1>{{ 'CANDPROFILE.CP2' | translate }}</h1>
        <!--Step 3: connect form group here -->
        <form class="col-md-6 offset-md-3" [formGroup]="profile" (ngSubmit)="onSave()">

            <div class="form-group row">
                <label for="staticName" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CP3' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': profile.get('name').touched && profile.get('name').invalid}"
                        placeholder="{{ 'CANDPROFILE.CP4' | translate }}" formControlName="name" />
                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CP5' | translate }}</div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CP6' | translate }}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control"
                        [ngClass]="{ 'is-invalid': profile.get('email').touched && profile.get('email').invalid}"
                        placeholder="{{ 'CANDPROFILE.CP7' | translate }}" formControlName="email" />
                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CP8' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAge" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CP9' | translate }}</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control"
                        [ngClass]="{ 'is-invalid': profile.get('phone').touched && profile.get('phone').invalid}"
                        placeholder="{{ 'CANDPROFILE.CPA' | translate }}" formControlName="phone" />
                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CPB' | translate }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticAge" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CPC' | translate }}</label>
                <div class="col-sm-5">
                    <div class="row">
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': profile.get('street').touched && profile.get('street').invalid}"
                            placeholder="{{ 'CANDPROFILE.CPD' | translate }}" formControlName="street" />
                        <div class="invalid-feedback">
                            <div>{{ 'CANDPROFILE.CPE' | translate }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': profile.get('town').touched && profile.get('town').invalid}"
                            placeholder="{{ 'CANDPROFILE.CPF' | translate }}" formControlName="town" />
                        <div class="invalid-feedback">
                            <div>{{ 'CANDPROFILE.CPG' | translate }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': profile.get('state').touched && profile.get('state').invalid}"
                            placeholder="{{ 'CANDPROFILE.CPH' | translate }}" formControlName="state" />
                        <div class="invalid-feedback">
                            <div>{{ 'CANDPROFILE.CPI' | translate }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" class="form-control"
                            [ngClass]="{ 'is-invalid': profile.get('country').touched && profile.get('country').invalid}"
                            placeholder="{{ 'CANDPROFILE.CPJ' | translate }}" formControlName="country" />
                        <div class="invalid-feedback">
                            <div>{{ 'CANDPROFILE.CPK' | translate }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="number" class="form-control"
                            [ngClass]="{ 'is-invalid': profile.get('pincode').touched && profile.get('country').invalid}"
                            placeholder="{{ 'CANDPROFILE.CPL' | translate }}" formControlName="pincode" />
                        <div class="invalid-feedback">
                            <div>{{ 'CANDPROFILE.CPM' | translate }}</div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="form-group row">
                <label for="staticId" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CPN' | translate }}</label>
                <div class="col-sm-10">

                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">{{ 'CANDPROFILE.CPO' | translate }}

                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">{{ 'CANDPROFILE.CPP' | translate }}
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" value="">{{ 'CANDPROFILE.CPQ' | translate }}
                        </label>
                    </div>

                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CPR' | translate }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CPS' | translate }}</label>
                <div class="col-sm-10">
                    <input type="file">
                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CPT' | translate }}</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">{{ 'CANDPROFILE.CPU' | translate }}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': profile.get('experience').touched && profile.get('experience').invalid}"
                        placeholder="{{ 'CANDPROFILE.CPV' | translate }}" formControlName="experience" />
                    <div class="invalid-feedback">
                        <div>{{ 'CANDPROFILE.CPW' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="alert alert-success" *ngIf="isSaved">
                {{ 'CANDPROFILE.CPX' | translate }} 
            </div>

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">{{ 'CANDPROFILE.CPY' | translate }}</button>
                    <a routerLink="/listjobs" class="btn btn-link">{{ 'CANDPROFILE.CPZ' | translate }}</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>