<span style="float: left;"><button class="btn btn-dark" routerLink="/jobs"><<Go Back</button></span>
     <div class="container col-md-4" style="margin-left:350px ;">
      <div class="row">
        <div class="card col-md-12">
          <div class="card-body" *ngIf="jobData">
            <h3 class="card-title">{{jobData.designation}}</h3>
            <h5><b>{{ 'HR_JD.JD01' | translate }}</b> {{jobData.jobId}}</h5>
            <hr>
            <p><b>{{ 'HR_JD.JD02' | translate }}</b> {{jobData.jobRole}}</p>
            <hr>
            <p><b>{{ 'HR_JD.JD03' | translate }}</b> {{jobData.jobDescription}}</p>
            <hr>
            <p><b>{{ 'HR_JD.JD04' | translate }}</b> {{jobData.employmentType}}</p>
            <hr>
            <p><b>{{ 'HR_JD.JD05' | translate }}</b>{{jobData.salary}}</p>
            <hr>
            <p><b>{{ 'HR_JD.JD06' | translate }}</b>{{jobData.location}}</p>
            <div class="alert alert-success" *ngIf="isSaved">
                {{ 'HR_JD.JD07' | translate }}
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editJobModal" (click)="onEditHandler()">{{ 'HR_JD.JD08' | translate }}</button>
            <button type="button" class="btn btn-danger" (click)="onDeleteHandler()">{{ 'HR_JD.JD09' | translate }}</button>
  
            <!-- Modal -->
            <div class="modal fade" id="editJobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'HR_JD.JD10' | translate }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body"*ngIf="duplicateJobData">
                    <form ngNativeValidate #f="ngForm">
                      <div class="form-group row">
                        <label for="staticName" class="col-sm-3 col-form-label">{{ 'HR_JD.JD11' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="designation" placeholder="{{ 'HR_JD.JD12' | translate }}" [(ngModel)]="duplicateJobData.designation">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="staticAge" class="col-sm-3 col-form-label">{{ 'HR_JD.JD13' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="jobRole" placeholder="{{ 'HR_JD.JD14' | translate }}" [(ngModel)]="duplicateJobData.jobRole">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="staticDesignation" class="col-sm-3 col-form-label">{{ 'HR_JD.JD15' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="jobDescription" placeholder="{{ 'HR_JD.JD16' | translate }}" [(ngModel)]="duplicateJobData.jobDescription">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="staticDepartment" class="col-sm-3 col-form-label">{{ 'HR_JD.JD17' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="employmentType" placeholder="{{ 'HR_JD.JD18' | translate }}" [(ngModel)]="duplicateJobData.employmentType">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="staticCountry" class="col-sm-3 col-form-label">{{ 'HR_JD.JD19' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="number" class="form-control" name="salary" placeholder="{{ 'HR_JD.JD20' | translate }}" [(ngModel)]="duplicateJobData.salary">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="staticCountry" class="col-sm-3 col-form-label">{{ 'HR_JD.JD21' | translate }}</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="location" placeholder="{{ 'HR_JD.JD22' | translate }}" [(ngModel)]="duplicateJobData.location">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'HR_JD.JD23' | translate }}</button>
                        <button type="submit" class="btn btn-primary" (click)="onUpdateHandler(f)" data-dismiss="modal">{{ 'HR_JD.JD24' | translate }}</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      </div>