<!-- <app-header></app-header> -->
<div class="container">
  <div class="row">
    <mat-card class="card cardlayout" routerLink="/hrlogin">
      <mat-card-content routerLink="/hrlogin">
        <mat-card-title class="title">{{ 'LOGINLANDING.LL1' | translate }}</mat-card-title>
        <mat-card-subtitle class="title">{{ 'LOGINLANDING.LL2' | translate }} </mat-card-subtitle>
        <img src="/assets/images/hr-avatar.png" alt="HR Image">
      </mat-card-content>
    </mat-card>
    <mat-card class="card cardlayout" routerLink="/candidatelogin">
      <mat-card-content routerLink="/candidatelogin">
        <mat-card-title class="title">{{ 'LOGINLANDING.LL3' | translate }}</mat-card-title>
        <mat-card-subtitle class="title">{{ 'LOGINLANDING.LL4' | translate }}  </mat-card-subtitle>
        <img src="/assets/images/candidate-avatar.png" alt="Candidate Image">
      </mat-card-content>
    </mat-card>
  </div>
</div>
