<!-- Form with header -->
<div class="container"  style="padding-bottom: 15px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card col-md-6">
            <div>
               <h3 class="text-center">Reply to Query</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="replyForm">
                    <div class="md-form">
                        To:
                        <input type="text" formControlName="email" placeholder="Your Email" id="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid':replyForm.get('email').touched && replyForm.get('email').invalid && submitted && f.email.errors }">
                        <div class="invalid-feedback">
                            <div>Email is required</div>
                        </div>
                    </div>
                    <div class="md-form">
                        Subject:
                        <input type="text" id="subject" class="form-control" placeholder="Your Subject"
                            formControlName="subject"
                            [ngClass]="{ 'is-invalid':replyForm.get('subject').touched && replyForm.get('subject').invalid && submitted && f.subject.errors }">
                        <div class="invalid-feedback">
                            <div>Subject is required</div>
                        </div>
                    </div>
                    <div class="md-form">
                        Message:
                        <textarea id="message" formControlName="message" placeholder="Your Message"
                            class="form-control md-textarea" rows="3"
                            [ngClass]="{ 'is-invalid': replyForm.get('message').touched && replyForm.get('message').invalid && submitted && f.message.errors }"></textarea>
                        <div class="invalid-feedback">
                            <div>Message is required</div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Send</button>&nbsp;&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form with header -->