<div class="container">
  <div class="wrapper">
  <div id="formContent" style="padding-bottom: 50px;">
          <!-- Tabs Titles -->
          <h2 class="active" routerLink="/candidatelogin">{{ 'CANDIDATELOGIN.CL1' | translate }}   </h2>
          <h2 class="inactive underlineHover" routerLink="/candidateRegister">{{ 'CANDIDATELOGIN.CL2' | translate }}  </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="../../../../assets/images/avatar-icon.png" style="width: 40px;" id="icon" alt="User Icon" />
            <h6>{{ 'CANDIDATELOGIN.CL3' | translate }} </h6>
          </div>
      
          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="{{ 'CANDIDATELOGIN.CL4' | translate }} " formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="{{ 'CANDIDATELOGIN.CL5' | translate }} " formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <button [disabled]="loading" class="fadeIn fourth btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  {{ 'CANDIDATELOGIN.CL6' | translate }}   
          </button>
          </form>
  </div>
  </div>
  </div>