 <div class="container">
            <div class="wrapper">
            <div id="formContent" style="padding-bottom: 50px;">
                    <!-- Tabs Titles -->
                    <h2 class="active" routerLink="/candidatelogin"> Sign In </h2>
                    <h2 class="inactive underlineHover" routerLink="/candidateRegister">Sign Up </h2>
                
                    <!-- Icon -->
                    <div class="fadeIn first">
                      <img src="../../../../assets/images/avatar-icon.png" style="width: 40px;" id="icon" alt="User Icon" />
                      <h6>Candidate Login</h6>
                    </div>
                
                    <!-- Login Form -->
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                      <button [disabled]="loading" class="fadeIn fourth btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Sign In
                    </button>
                    </form>
            </div>
            </div>
            </div>